- name: Install telegram-desktop via snap
  become: true # needed
  become_user: root
  ansible.builtin.command:
    cmd: snap install telegram-desktop

- name: Ensure config folder exists
  ansible.builtin.file:
    path: "/home/{{ user }}/.config/autostart"
    state: directory

- name: Ensure autostart
  ansible.builtin.copy:
    src: "/snap/bin/telegram-desktop"
    dest: "/home/{{ user }}/.config/autostart"
    mode: u+rwx,g-r,o-r
    owner: "{{ user }}"
