---
- name: Ensure PercentageCritical is 10%
  become: true #needed
  become_user: root
  ansible.builtin.lineinfile:
    path: /etc/UPower/UPower.conf
    regexp: '^PercentageCritical'
    line: PercentageCritical=10
  register: PercentageCritical

- name: Ensure PercentageAction is HybridSleep
  become: true #needed
  become_user: root
  ansible.builtin.lineinfile:
    path: /etc/UPower/UPower.conf
    regexp: '^PercentageAction'
    line: PercentageAction=HybridSleep
  register: PercentageAction
    
- name: Restart upower.service
  become: true #needed
  become_user: root
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: true
    name: upower.service
  when: PercentageAction.changed or PercentageCritical.changed