---
- name: Install Firefox
  become: true
  become_user: root
  apt:
    name: firefox
    state: latest
    update_cache: yes

- name: Install Chromium
  become: true
  become_user: root
  apt:
    name: chromium
    state: latest
    update_cache: yes

- name: Install Chromium via Snap
  snap:
    name: chromium
    state: present
