---
- name: "Espanso: check if installed"
  stat:
    path: "/usr/local/bin/espanso"
  register: espanso_installed

  
- name: "Espanso: Enable universe repository"
  ansible.builtin.command: add-apt-repository -y universe
  become: true
  become_user: root
  when: not espanso_installed.stat.exists

- name: "Espanso: Install dependencies"
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - fuse
    - libfuse2
    - libfuse2t64
  become: true
  become_user: root
  when: not espanso_installed.stat.exists

- name: "Espanso: download AppImage"
  ansible.builtin.get_url:
    url: "https://github.com/espanso/espanso/releases/download/v2.3.0/Espanso-X11.AppImage"
    dest: "/tmp/espanso.AppImage"
    mode: '0755'
  when: not espanso_installed.stat.exists

- name: "Espanso: move AppImage to /usr/local/bin"
  ansible.builtin.command:
    cmd: mv /tmp/espanso.AppImage /usr/local/bin/espanso
  become: true
  become_user: root
  when: not espanso_installed.stat.exists

- name: "Espanso: Create config directory"
  ansible.builtin.file:
    path: "/home/{{ user }}/.config/espanso/config/"
    state: directory
    mode: '0755'

- name: "Espanso: configure basic config"
  ansible.builtin.copy:
    src: ../files/espanso.default.yml
    dest: "/home/{{ user }}/.config/espanso/config/default.yml"
  ignore_errors: true
  when: not espanso_installed.stat.exists

- name: "Get list of installed espanso packages"
  shell: /usr/local/bin/espanso package list
  register: installed_packages
  changed_when: false

- name: "Espanso: adding packages if not installed"
  shell: /usr/local/bin/espanso install {{ item.name }} --git {{ item.repo }} --external
  with_items: "{{ espanso_packages }}"
  when:
    - espanso_packages is defined
    - item.repo not in installed_packages.stdout

- name: "Espanso: global summon keybinding - name"
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom6/name"
    value: "'espanso'"

- name: "Espanso: global summon keybinding - binding"
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom6/binding"
    value: "'<Primary>q'"

- name: "Espanso: global summon keybinding - command"
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom6/command"
    value: "'/usr/local/bin/espanso cmd search'"
