- name: Install dependencies (apt)
  become: true
  become_user: root
  ansible.builtin.apt:
    name:
      - ca-certificates
      - apt-transport-https
      - gnupg
    state: present
    update_cache: yes

- name: Create APT keyrings dir
  become: true
  become_user: root
  ansible.builtin.file:
    path: '/usr/share/keyrings'
    state: directory
    mode: '0755'

- name: Download Microsoft key
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: 'https://packages.microsoft.com/keys/microsoft.asc'
    dest: '/tmp/microsoft.asc'
    mode: '0644'
    force: true

- name: Convert Microsoft key to binary GPG
  become: true
  become_user: root
  ansible.builtin.shell: |
    gpg --dearmor --output /usr/share/keyrings/microsoft.gpg /tmp/microsoft.asc
  args:
    creates: /usr/share/keyrings/microsoft.gpg

- name: Add VS Code repo
  become: true
  become_user: root

  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/microsoft.gpg] https://packages.microsoft.com/repos/code stable main'
    filename: vscode
    state: present

- name: Update APT cache
  become: true
  become_user: root
  ansible.builtin.apt:
    update_cache: yes

- name: Install VS Code
  become: true
  become_user: root
  ansible.builtin.apt:
    name: code
    state: present
