configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  show-icons: true;
  font: "JetBrainsMono Nerd Font Medium 10";
  modi: "window,run,drun,ssh,filebrowser,combi";
}

@theme "/usr/share/rofi/themes/DarkBlue.rasi"

window {
  width:50%;
}
