version: 7
profiles: []
groups: []
configSync:
  parts: {}
hotkeys:
  toggle-window:
    - CTRL+e
  copy-current-path: []
  ctrl-c:
    - Ctrl-C
  copy:
    - Ctrl-Shift-C
  paste:
    - Ctrl-Shift-V
    - Shift-Insert
  select-all:
    - Ctrl-Shift-A
  clear: []
  zoom-in:
    - Ctrl-=
    - Ctrl-Shift-=
  zoom-out:
    - Ctrl--
    - Ctrl-Shift--
  reset-zoom:
    - Ctrl-0
  home:
    - Home
  end:
    - End
  previous-word:
    - Ctrl-Left
  next-word:
    - Ctrl-Right
  delete-previous-word:
    - Ctrl-Backspace
  delete-line:
    - Ctrl-Shift-Backspace
  delete-next-word:
    - Ctrl-Delete
  search:
    - Ctrl-Shift-F
  pane-focus-all:
    - Ctrl-Shift-I
  focus-all-tabs:
    - Ctrl-Alt-Shift-I
  scroll-to-top:
    - Ctrl-PageUp
  scroll-up:
    - Alt-PageUp
  scroll-down:
    - Alt-PageDown
  scroll-to-bottom:
    - Ctrl-PageDown
  restart-telnet-session: []
  restart-ssh-session: []
  launch-winscp: []
  settings-tab: {}
  settings:
    - Ctrl-,
  serial:
    - Alt-K
  restart-serial-session: []
  new-tab: []
  new-window:
    - Ctrl-N
  profile: {}
  profile-selectors: {}
  toggle-fullscreen:
    - F11
  reopen-tab:
    - Ctrl-Shift-Z
  toggle-last-tab: []
  rename-tab:
    - Ctrl-Shift-R
  next-tab:
    - Ctrl-Shift-Right
  previous-tab:
    - Ctrl-Shift-Left
    - Ctrl-Shift-Tab
  move-tab-left:
    - Ctrl-Shift-PageUp
  move-tab-right:
    - Ctrl-Shift-PageDown
  rearrange-panes: []
  duplicate-tab: []
  restart-tab: []
  reconnect-tab: []
  disconnect-tab: []
  explode-tab:
    - Ctrl-Shift-.
  combine-tabs:
    - Ctrl-Shift-,
  tab-1:
    - Alt-1
  tab-2:
    - Alt-2
  tab-3:
    - Alt-3
  tab-4:
    - Alt-4
  tab-5:
    - Alt-5
  tab-6:
    - Alt-6
  tab-7:
    - Alt-7
  tab-8:
    - Alt-8
  tab-9:
    - Alt-9
  tab-10:
    - Alt-0
  tab-11: []
  tab-12: []
  tab-13: []
  tab-14: []
  tab-15: []
  tab-16: []
  tab-17: []
  tab-18: []
  tab-19: []
  tab-20: []
  split-right:
    - Ctrl-Shift-T
  split-bottom:
    - Ctrl-Shift-D
  split-left: []
  split-top: []
  pane-nav-right:
    - Ctrl-Alt-Right
  pane-nav-down:
    - Ctrl-Alt-Down
  pane-nav-up:
    - Ctrl-Alt-Up
  pane-nav-left:
    - Ctrl-Alt-Left
  pane-nav-previous:
    - Ctrl-Alt-[
  pane-nav-next:
    - Ctrl-Tab
  pane-nav-1: []
  pane-nav-2: []
  pane-nav-3: []
  pane-nav-4: []
  pane-nav-5: []
  pane-nav-6: []
  pane-nav-7: []
  pane-nav-8: []
  pane-nav-9: []
  pane-maximize:
    - Ctrl-Alt-Enter
  pane-increase-vertical: []
  pane-decrease-vertical: []
  pane-increase-horizontal: []
  pane-decrease-horizontal: []
  close-pane:
    - Ctrl-Shift-W
  switch-profile:
    - Ctrl-Alt-T
  profile-selector:
    - Ctrl-Shift-E
  command-selector:
    - Ctrl-Shift-P
  close-tab: []
terminal:
  searchOptions: {}
  colorScheme:
    name: PencilDark
    foreground: '#f1f1f1'
    background: '#212121'
    cursor: '#20bbfc'
    colors:
      - '#212121'
      - '#c30771'
      - '#10a778'
      - '#a89c14'
      - '#008ec4'
      - '#523c79'
      - '#20a5ba'
      - '#d9d9d9'
      - '#424242'
      - '#fb007a'
      - '#5fd7af'
      - '#f3e430'
      - '#20bbfc'
      - '#6855de'
      - '#4fb8cc'
      - '#f1f1f1'
  lightColorScheme:
    name: 3024 Night
    foreground: '#a5a2a2'
    background: '#090300'
    cursor: '#a5a2a2'
    colors:
      - '#090300'
      - '#db2d20'
      - '#01a252'
      - '#fded02'
      - '#01a0e4'
      - '#a16a94'
      - '#b5e4f4'
      - '#a5a2a2'
      - '#5c5855'
      - '#e8bbd0'
      - '#3a3432'
      - '#4a4543'
      - '#807d7c'
      - '#d6d5d4'
      - '#cdab53'
      - '#f7f7f7'
  customColorSchemes: []
  ligatures: true
  fontSize: 12
  cursor: underline
  scrollbackLines: 250000
  rightClick: paste
  copyOnSelect: true
  copyAsHTML: false
  bell: visual
  bracketedPaste: false
  warnOnMultilinePaste: false
  trimWhitespaceOnPaste: false
  frontend: xterm
clickableLinks: {}
accessibility:
  animations: false
appearance:
  spaciness: 0.7
  flexTabs: true
  css: "/* * { color: blue !important; } */\n\nsplit-tab-spanner{\n  background: darkred;\n}\nsplit-tab-spanner.v {\n\theight: 3px !important;\n}\nsplit-tab-spanner.h {\n\twidth: 3px !important;\n}\n"
  dock: right
  dockScreen: 27489078788721732
  dockAlwaysOnTop: false
  dockFill: 0.38
hacks:
  disableGPU: true
providerBlacklist: []
commandBlacklist: []
enableAnalytics: false
language: en-US
enableWelcomeTab: false
pluginBlacklist: []
profileDefaults:
  ssh:
    disableDynamicTitle: true
    type: ssh
    options:
      algorithms: {}
      input: {}
    clearServiceMessagesOnConnect: false
profileBlacklist: []